<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>School Form</title>
</head>

<body>
    <script src="https://unpkg.com/scrollreveal"></script>
    <h1 class="topBar">School Form</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.school_name.label(class_='infoText') }}: {{
            form.school_name(class_='inputBox') }}<br />

            {{ form.teacher_name.label(class_='infoText') }}: {{
            form.teacher_name(class_='inputBox') }}<br />

            {{ form.teacher_contact.label(class_='infoText') }}: {{
            form.teacher_contact(class_='inputBox') }}<br />

            {{ form.student_name.label(class_='infoText') }}: {{
            form.student_name(class_='inputBox') }}<br />

            {{ form.student_contact.label(class_='infoText') }}: {{
            form.student_contact(class_='inputBox') }}<br />
        </p>

        <div class="section-break" style="display:{{display1}}">
            <div style='scroll-snap-type: mandatory;' class="scrolling">
                <script>ScrollReveal().reveal('.scrolling');</script>
                <h2 class="topBar">Participation Section 1</h2>
                <p>
                    {{ form.student1.label(class_='infoText')}}: {{
                    form.student1(class_='inputBox')}}<br />

                    {{ form.student2.label(class_='infoText')}}: {{
                    form.student2(class_='inputBox')}}<br />

                    {{ form.student3.label(class_='infoText')}}: {{
                    form.student3(class_='inputBox')}}<br />
                </p>
            </div>
        </div>
        <div class="section-break" style="display:{{ display2 }}">
            <h2 class="topBar">Participation Section 2</h2>
            <p>
                {{ form.student4.label(class_='infoText')}}: {{
                form.student4(class_='inputBox')}}<br />

                {{ form.student5.label(class_='infoText')}}: {{
                form.student5(class_='inputBox')}}<br />

                {{ form.student6.label(class_='infoText')}}: {{
                form.student6(class_='inputBox')}}<br />
            </p>
        </div>

        <div class="section-break" style="display:{{ display3 }}">
            <h2 class="topBar">Participation Section 3</h2>
            <p>
                {{ form.student7.label(class_='infoText')}}: {{
                form.student7(class_='inputBox')}}<br />

                {{ form.student8.label(class_='infoText')}}: {{
                form.student8(class_='inputBox')}}<br />

                {{ form.student9.label(class_='infoText')}}: {{
                form.student9(class_='inputBox')}}<br />
            </p>
        </div>

        <p>{{ form.submit(class_='btn')}}<br /></p>
    </form>
</body>

</html>